.aboutcontainer {
  margin: auto;
  max-width: 500px;
  font-size: 20px;
  font-family: sans-serif;
}

.portfoliocontainer {
  margin: auto;
  max-width: 500px;
  font-size: 20px;
  font-family: sans-serif;
}

.contactcontainer {
  margin: auto;
  max-width: 500px;
  font-size: 20px;
  font-family: sans-serif;
}
