.container {
  margin: auto;
  max-width: 500px;
  font-family: sans-serif;
}

.heading {
  color: rebeccapurple;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.nav-link-item {
  padding-right: 2rem;
}

.nav-link-text {
  color: black;
  font-weight: 800;
}

/* ... your existing styles */

.site-title {
  font-size: 3rem;
  color: gray;
  font-weight: 700;
  margin: 3rem 0;
}

.flat_button {
  color: #ff678f;
  font-size: 11px;
  letter-spacing: 3px;
  text-decoration: none;
  padding: 8px 10px;
  border: 1px solid #ff678f;
  float: right;
  border-radius: 4px;
  background: 0 0;
  text-transform: uppercase;
  float: left;
  text-align: center;
  justify-content: center;
}

.container_contact_page {
  font-family: sans-serif;
  margin: auto;
  display: flex;
  justify-content: center;
}

.contact_form {
  margin: auto;
  max-width: 500px;
  font-size: 20px;
  font-family: sans-serif;
  justify-content: center;

  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10px;
      overflow: hidden;
      display: black;
      position: relative;
      opacity: 0;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
    }

    li.half {
      width: 49px;
      margin-left: 2%;
      float: left;
      clear: none;
    }
  }
}
input[type="text"],
input[type="email"] {
  width: 100%;
  border: 0;
  background: #115173;
  height: 50px;
  font-size: 16px;
  color: #fff;
  padding: 0 20px;
  box-sizing: border-box;
}
.about_container {
  margin: auto;
  max-width: 500px;
  font-size: 20px;
  font-family: sans-serif;
}

.portfolio_container {
  margin: auto;
  max-width: 500px;
  font-size: 20px;
  font-family: sans-serif;
}
